{% comment %}
Real brand icons for database engines.
Usage: {% include "console/databases/includes/engine_icon.html" with engine="postgresql" size="48" %}
{% endcomment %}{% load static %}{% spaceless %}
{% if engine == "postgresql" %}
<img src="{% static 'images/brand-icons/postgresql.svg' %}" width="{{ size }}" height="{{ size }}" alt="PostgreSQL">
{% elif engine == "mysql" %}
<img src="{% static 'images/brand-icons/mysql.svg' %}" width="{{ size }}" height="{{ size }}" alt="MySQL">
{% elif engine == "mssql" %}
<img src="{% static 'images/brand-icons/microsoftsqlserver.svg' %}" width="{{ size }}" height="{{ size }}" alt="SQL Server">
{% elif engine == "oracle" %}
<img src="{% static 'images/brand-icons/oracle.svg' %}" width="{{ size }}" height="{{ size }}" alt="Oracle">
{% elif engine == "sqlite" %}
<img src="{% static 'images/brand-icons/sqlite.svg' %}" width="{{ size }}" height="{{ size }}" alt="SQLite" class="brand-icon-invert-dark">
{% elif engine == "mariadb" %}
<img src="{% static 'images/brand-icons/mariadb.svg' %}" width="{{ size }}" height="{{ size }}" alt="MariaDB" class="brand-icon-invert-dark">
{% elif engine == "snowflake" %}
<img src="{% static 'images/brand-icons/snowflake.svg' %}" width="{{ size }}" height="{{ size }}" alt="Snowflake">
{% elif engine == "bigquery" %}
<img src="{% static 'images/brand-icons/googlebigquery.svg' %}" width="{{ size }}" height="{{ size }}" alt="BigQuery">
{% elif engine == "clickhouse" %}
<img src="{% static 'images/brand-icons/clickhouse.svg' %}" width="{{ size }}" height="{{ size }}" alt="ClickHouse">
{% else %}
<i class="fa-solid fa-database" style="font-size:{{ size }}px;color:var(--text-sec)"></i>
{% endif %}{% endspaceless %}
