{% comment %}
Documentation source icon based on doc_type.
Usage: {% include "console/docsources/includes/source_type_icon.html" with doc_type=src.doc_type size="48" %}
{% endcomment %}{% spaceless %}
{% if doc_type == "database" %}
<i class="fa-solid fa-database docs-source-icon" style="font-size:{{ size }}px"></i>
{% elif doc_type == "codebase" %}
<i class="fa-solid fa-code docs-source-icon" style="font-size:{{ size }}px"></i>
{% elif doc_type == "policy" %}
<i class="fa-solid fa-scale-balanced docs-source-icon" style="font-size:{{ size }}px"></i>
{% elif doc_type == "api" %}
<i class="fa-solid fa-plug docs-source-icon" style="font-size:{{ size }}px"></i>
{% elif doc_type == "report" %}
<i class="fa-solid fa-chart-bar docs-source-icon" style="font-size:{{ size }}px"></i>
{% elif doc_type == "ontology" %}
<i class="fa-solid fa-sitemap docs-source-icon" style="font-size:{{ size }}px"></i>
{% elif doc_type == "runbook" %}
<i class="fa-solid fa-list-check docs-source-icon" style="font-size:{{ size }}px"></i>
{% else %}
<i class="fa-solid fa-book docs-source-icon" style="font-size:{{ size }}px"></i>
{% endif %}
{% endspaceless %}
